* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 10px;
}

.wrap {
    width: 100%;
    min-height: calc(100vh - 20px);
    border: 1px solid #ccc;
    padding: 0 15px;
    background: url(./background.png) no-repeat 50% 50%;
    background-size: cover;
}

.wrap h1 {
    text-align: center;
    margin-top: 50px;
    /* text-shadow:  3px 3px #F2BED1, 6px 6px #FDCEDF, 9px 9px #F8E8EE; */

    text-shadow: -2px 0px #F2BED1, 0px 2px #F2BED1, 2px 0px #F2BED1, 0px -2px #F2BED1;
    color: #fff;
    font-size: 45px;
}


h1:before,
h1:after {
    content: '[';
    display: inline-block;
    position: relative;
    top: 1px;
    height: 100%;
    font-size: 1.25em;
    color: #fff;
    vertical-align: middle;
}

h1:before {
    margin-right: 5px;
}

h1:after {
    content: ']';
    margin-left: 5px;
}





form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#todo_input {
    width: 300px;
    height: 40px;
    display: block;
    outline: none;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background-color: #F2BED1;
    color: #fff;
    border: 1px solid #F2BED1;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin-top: 50px;
}

.todo_list {}

.todo {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #888;

}

.todo li {
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding: 0 5px;
}

.todo_desc {
    font-size: 15px;
}

.todo .complete {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background-color: #F2BED1;
    color: #fff;
    border: 1px solid #F2BED1;
    border-radius: 5px;
    cursor: pointer;
}

.todo .delete {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background-color: #F2BED1;
    color: #fff;
    border: 1px solid #F2BED1;
    border-radius: 5px;
    cursor: pointer;
}


.done {
    text-decoration: line-through;
    color: #777;
    opacity: 0.5;
}

.alldel {
    width: 150px;
    height: 40px;
    margin: 30px auto;
    display: block;
    background-color: #F2BED1;
    color: #fff;
    border: 1px solid #F2BED1;
    border-radius: 30px;
    cursor: pointer;
    /* box-shadow: 0 0 10px #F2BED1; */
}